* {
    box-sizing: border-box;
  }
  
  body {
    margin: 16px;
    font-family: 'Open Sans', sans-serif;

    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
  }
  
  input {
    padding: 8px;
    font: inherit;
  }
  
  button {
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }

  .login-form {
    max-width: 200px;
    display: flex;
    flex-direction: column;
  }

  .login-form label {
    margin-bottom: 10px;
  }

  .login-form input,
  .login-form button {
    width: 100%;
    padding: 5px;
    font: inherit;
  }


  #validation-input {
    border: 2px solid #bdbdbd;
  }

  #validation-input.valid {
    border-color: #4caf50;
  }

  #validation-input.invalid {
    border-color: #f44336;
  }

  .widget {
    text-align: center;
  }

  .widget p {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 48px;
  }

  .widget span {
    font-family: monospace;
  }

  .widget button {
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
  }